
	body{
		background-color:#2D2D2D;
	}
	
	
	
	a{
		text-decoration:none;
	}
	
	p{
		margin-left:400px;
	}
	
		.top{
			height:40px;
		}
	
		.topnav{
			height:35px;
			background-color:#2D2D2D;
			margin-left:850px;
			transform:translate(0px,-24px);
		}
	
		.topnav a{
			text-decoration:none;
			color:white;
			padding-left:7px;
			padding-right:7px;
			padding-bottom:12px;
			padding-top:8px;
			opacity:0.5;
			font-family:roboto;
			letter-spacing:4px;
			margin-right:15px;
			transition-property:background-color;
			transition-duration:0.5s;
		}
	
		.topnav a:hover{
			color:green;
			background-color:white;
		}
	
		.topnav a.active{
			opacity:0.5;
			text-decoration:underline;
			background-color:#c7c7c7;
			color:green;
		}
		
		.mountain{
			height:500px;
			width:1333px;
			position:relative;
			padding-top:15px;
		}
	
		.mountain img{
			filter:brightness(40%);
		}
	
		.name h2{
			color:white;
			font-size:75px;
			letter-spacing:20px;
			text-align:center;
			font-family:roboto;
			font-weight:normal;
			opacity:0.9;
		}
	
		.name{
			position:absolute;
			transform: translate(300px,-400px);
		}
	
		.name p{
			color:white;
			font-family:arial;
			opacity:0.5;
			letter-spacing:5px;
			transform: translate(-170px,-40px);
		}
	
		.line{
			border:solid;
			border-width:1px;
			border-color:#c7c7c7;
			transform: translate(0px,0px);
			opacity:0.5;
		}
		
		.socials{
			text-align:center;
			transform:translate(0px,20px);
		}
		
		.socials a{
			padding:75px;
			background-color:black;
			color:white;
			opacity:0.3;
			font-family:arial;
			transition-duration:1s;
			margin-right:10px;
			margin-left:10px;
		}
		
		.socials a:hover{
			padding:100px;
		}
		
		h1{
			color:white;
			letter-spacing:10px;
			font-family:roboto;
			opacity:0.8;
		}